$min-width: 1440px;
$white: #fff;
$black: #000;
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$height-nav: 70px;
$height-xl: 48px;
$height-lg: 40px;
$height-md: 36px;
$height-sm: 32px;
$height-xs: 24px;
$font-family-pingfang: 'PingFang SC', sans-serif;
$bg-white: #fff;
$bg-black: #000;
$bg-black-1: #0c0d0d;
$bg-black-2: #181a1d;
$bg-black-3: #121416;
$tc-white: rgb(255 255 255);
$tc-white-25: rgb(255 255 255 / 25%);
$tc-white-65: rgb(255 255 255 / 65%);
$tc-white-85: rgb(255 255 255 / 85%);
$tc-black: rgb(0 0 0);
$tc-black-25: rgb(0 0 0 / 25%);
$tc-black-65: rgb(0 0 0 / 65%);
$tc-black-85: rgb(0 0 0 / 85%);
$bg-cyan: #4ef0ff;
$brand-color-1: #0035dd;
$brand-color-2: #06f;
$brand-color-3: #009cfe;
$brand-gradient: linear-gradient(270deg, $brand-color-2 0%, $brand-color-3 100%);
