.app {
    :global {
        .box1 {
            height: 100px;
            width: 100%;
            background-color: #32669a;
        }

        .box2 {
            height: 100px;
            width: 100%;
            background-color: #6464b6;
        }
    }
}
