* {
  scrollbar-width: none;
}

body {
  overflow: hidden;
  font-family: 'PingFang SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.ant-app {
  height: 100%;
}

.ant-spin-nested-loading {
  height: 100%;
  background: #0c0d0d;
}

.ant-spin-nested-loading div .ant-spin {
  top: 50%;
  transform: translateY(-50%);
}

.ant-spin-nested-loading div .ant-spin .ant-spin-text {
  color: #009cfe;
  text-shadow: none;
}
